# Temporary files
.*.swp
*.pyc
*.pyo
*.mo

# Testing and co
reports/
private/
public/
/static/
.tox
# Build-related files
docs/_build
.coverage
*.egg-info
*.egg
setup.cfg
build/
dist/
/reports/

.DS_Store
.idea
